html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* these styles are applied to all elements on the page */
* {
    box-sizing: border-box;
    -webkit-font-smoothing: inherit;
}

/* these styles are applied to the body element */
body {
    /* define color tokens for use throughout the stylesheet */
    --token-528f84e0-f915-420f-bf60-2cbf77101a8e: rgb(255, 255, 255);
    --token-6510fa55-c69a-42d8-a1e8-6b55182b3dfa: rgb(214, 214, 214);
    --token-012e9259-476e-4ce8-b232-f97a7a4ed06f: rgb(13, 13, 13);
    --token-061c2b9f-64af-493d-8868-31ff2263526e: rgb(15, 15, 15);
    --token-305af9d4-fe33-4ce3-9dac-e261fb045b39: rgb(250, 36, 36);
}

.navbar {
    background-color: transparent;
    backdrop-filter: blur(8px);
    width: 100%;
    opacity: 1;
    margin-left: 4px;
} 

.navbar-brand {
    padding-left: 20px;
}

@media (max-width: 768px) {
    .navbar-brand {
        padding-left: 0;
    }
  }

.navbar-nav {
    flex-direction: row;
    gap: 20px;
}

/* Default styles for larger screens */
.nav-link {
    color: white !important;
    text-align: center;
    position: relative;
}

/* Hover effect for the navlink */
.nav-link:hover {
    color: rgb(254, 57, 57) !important;
}

.disabled-link {
    pointer-events: none;
    color: grey;
    text-decoration: none;
    opacity: 0.5;
}

.navbar-collapse {
    justify-content: center;
}

.border-button {
    float: right;
    border: 1px solid #e63946 !important;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    margin-right: 34px;
    transition: background-color 0.3s ease;
}

.border-button:hover {
    background-color: #e63946 !important;
}

@media (max-width: 768px) {
    .border-button {
      display: none;
    }
  }

.main_bg {
    text-align: center;
    background-color: var(--token-012e9259-476e-4ce8-b232-f97a7a4ed06f, #0d0d0d);
    display: flex;
    flex: none;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    justify-content: center;
    overflow: hidden;

}

.gradient_bg {
    -webkit-filter: blur(100px);
    background: linear-gradient(180deg, var(--token-305af9d4-fe33-4ce3-9dac-e261fb045b39, #d72a2a) -43%, var(--token-305af9d4-fe33-4ce3-9dac-e261fb045b39, rgb(255, 82, 14)) 100%);
    filter: blur(100px);
    flex: none;
    height: 300px;
    opacity: .4;
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    z-index: 1;
}

.content-section {
    color: white;
    z-index: 1;
}

/* Styling for the main header */
.full-page-header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    z-index: 3;
}
.main-header {
    max-width: 100%;
}

/* Styling for the h2 element */
.main-header h2 {
    font-size: 64px;
    color: white !important;
}

/* Styling for the paragraph */
.main-header p {
    font-size: 36px;
    color: grey; 
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .main-header h2 {
        font-size: 40px; 
    }

    .main-header p {
        font-size: 25px; 
    }
}

@media (max-width: 380px) {
    .main-header h2 {
        font-size: 38px; 
    }

    .main-header p {
        font-size: 18px; 
    }
}

.typed {
    position: relative;
    color: inherit;
}

.typed-cursor {
    font-weight: bold;
    color: white;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Styling for the social links */
.social-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .social-links {
        gap: 10px;
    }
  }

.social-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #f5f5f5;
    border-radius: 50%;
    transition: color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.social-links a:hover {
    background-color: #e63946;
    color: white;
    border-color: #e63946;
    transform: scale(1.1);
}

/* Styling for about me section */
.about-me-button-container {
    position: fixed;
    bottom: 20px;
    width: auto;
    left: 50%;
    transform: translate(-50%);
    z-index: 1000;
    text-align: center;
}

.about-me-button {
    background-color: transparent;
    border: 2px solid #e63946;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
}

/* Hover effect for the button */
.about-me-button:hover {
    background-color: #e63946;
    color: white;
    border-color: #e63946;
}

h1,
h2 {
    color: white;
}

/* Fonts */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.inter-navbar-brand {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.inter-navbar-links {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

.inter-main_header {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.inter-main-header-paragraph {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-about-me-section {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* Animate on scroll effect */
.animate-on-scroll {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Class to apply when element is visible */
.animate-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}