<section class="animate-on-scroll" id="projects">
    <div class="carousel-container">
        <div class="intro">
            <div class="api-docs">
                <h4 class="inter-main-header-paragraph" id="projects-heading">Projects</h4>

                <!-- Project endpoint 1 -->
                <div class="project-endpoint">
                    <div class="endpoint-header" role="button" onclick="toggleDescription(this)" aria-expanded="false">
                        <div class="endpoint-group">
                            <span class="http-method get">GET</span>
                            <span class="endpoint-path">/programmerspeak</span>
                        </div>
                        <button class="status-badge glow" aria-label="Toggle Project Details">Click me</button>
                    </div>
                    <div class="endpoint-description">
                        <h3>ProgrammersPeak</h3>
                        <p>Retrieves details about the API Gateway project.</p>
                        <div class="project-details">A scalable API gateway built with Node.js and Express, featuring request routing, rate limiting, and authentication</div>
                    </div>
                </div>

                <!-- Project endpoint 2 -->
                <div class="project-endpoint">
                    <div class="endpoint-header" role="button" onclick="toggleDescription(this)" aria-expanded="false">
                        <div class="endpoint-group">
                            <span class="http-method post">POST</span>
                            <span class="endpoint-path">/pytrack</span>
                        </div>
                        <button class="status-badge glow" aria-label="Toggle Project Details">Click me</button>
                    </div>
                    <div class="endpoint-description">
                        <h3>Pytrack</h3>
                        <p>Retrieves details about the API Gateway project.</p>
                        <div class="project-details">
                            A scalable API gateway built with Node.js and Express, featuring request routing, rate limiting, and
                            authentication.
                        </div>
                    </div>
                </div>

                <!-- More projects endpoints go here -->
            </div>
        </div>
    </div>
</section>