<section class="animate-on-scroll">
    <div class="about-me-intro">
        <h4 class="inter-main-header-paragraph">My Skills</h4>
        <div class="skill-content">
            <div class="container">
                <div class="row">
                    {% for skill in skills %}
                    <div class="col-lg-6">
                        <h5 class="inter-skill-content">{{ " ".join(skill.split("_")).title() }}</h5>
                        {% for skill, value in skills[skill].items() %}
                        <div class="skill-section">
                            <span class="skill-name inter-skill-name">{{ skill }}
                                <i class="skill-percentage inter-skill-percentage">{{ value }}</i>
                            </span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar"
                                    aria-valuenow="{{ value|replace('%', '') }}" aria-valuemin="0"
                                    aria-valuemax="100" style="width: 0;"></div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>